body{
  font-family: 'Open Sans', sans-serif;
}
.star{
  font-size: 40px;
}
.star hr{
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  height: 5px;
  border-radius: 8%;
}
#hr-white{
  background-color: white;
}
#hr-black{
  background-color: rgb(44,62,80);
}
@media screen and (max-width:768px){
  .star hr{
    width:80px;
  }
  .header-top-text{
    font-size: 20px;
  }
  h1{
    font-size: 60px;
  }
  .main-center-img{
    height: 150px;
    width: 200px;
  }
}
@media screen and (min-width:768px) and (max-width:992px){
  .link a {
    font-size: 17px;
  }
  .star hr{
    width:150px;
  }
  .header-top-text{
    font-size: 30px;
  }
  h1{
    font-size: 80px;
  }
  .main-center-img{
    height: 200px;
    width: 250px;
  }
}
@media screen and (min-width:992px){
  .link a {
    font-size: 20px;
  }
  .star hr{
    width:200px;
  }
  .header-top-text{
    font-size: 40px;
  }
  h1{
    font-size: 100px;
  }
  .main-center-img{
    height: 250px;
    width: 300px;
  }
}
/* parte superiore dell'header */
.header-top{
  background-color: rgb(44,62,80);
  line-height: 100px;
  height: 100px;
  color: white;
  font-weight: 600;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  z-index: 1;
}
.header-top a{
  text-decoration: none;
  color: white;
}
@media screen and (min-width:768px){
  .hamburger{
    display: none;
  }
}
.hamburger{
  text-align: right;
  color:white;
}
@media screen and (max-width:768px){
  .link{
    display: none;
  }
}
.link li{
  list-style: none;
  display: inline-block;
}
.link a {
  margin-left: 20px;
}
.hamburger button{
  background-color: rgb(44,62,80);
}
.link li :hover{
  color:rgb(26, 188, 156);
}
/* parte superiore dell'header */
/* parte inferiore dell'header */
.header-bottom{
  margin-top: 100px;
  background-color: rgb(26, 188, 156);
  text-align: center;
  position: relative;
  color: white;
  height: 1000px;
}
.text{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 35px;
}
h1{
  font-weight: 700;
  margin-bottom: 20px;
}
.header-bottom img{
  width: 300px;
  height: 319px;
}

.header-bottom-text{
  margin-top: 20px;
}
/* parte inferiore dell'header */

/* parte superiore del Main */
.main-top{
  text-align: center;
  padding: 40px 0px;
  color:rgb(44,62,80);
}
.main-top h2{
  font-weight: 700;
  font-size: 60px;
}
.main-center-img{
  margin: auto;
  margin-top:30px;
  border-radius: 5%;
}
.main-center-img-a:hover{
  background-color: rgb(26, 188, 156)
}
/* parte superiore de Main */

/* parte centrale del Main */
.wrapper_small{
  width:900px;
  margin:auto;
}
.main-center{
  padding:40px 0px;
  text-align: center;
  background-color: lightgreen;
  color:white;
}
.center_text{
  margin: 40px 0;
}
.first-text{
  margin-bottom: 20px;
}
/* parte centrale del Main */

/* parte inferiore del Main */
.main-bottom{
  text-align: center;
  padding:40px 0px;
}
.bottom-list li{
  list-style: none;
  text-align: left;
}
.bottom-list input{
  border:none;
}
.bottom-list textarea{
  border:none;
}
/* parte inferiore del Main */


footer{
  text-align: center;
  color: white;
}
/* parte superiore del footer */
.footer-top{
  padding:40px 0px;
  background-color:blue;
}
/* parte superiore del footer */

/* parte inferiore del footer */
.copyright{
  padding:40px 0px;
  background-color: red;
}
/* parte inferiore del footer */
